= simple_form_for(@registration) do |f|
  = f.error_notification
  .form-inputs
    .row-fluid
      %fieldset
        %legend Player's name
        .row-fluid
          .span3
            = f.input :player_first_name, :placeholder => "First", :label => false
          .span3
            = f.input :player_last_name, :placeholder => "Last", :label => false

    .row-fluid
      %fieldset
        %legend Parent Information
        .row-fluid
          .span2 
            %abbr{:title => :required} * 
            %b Father's name
        .row-fluid
          .span3= f.input :father_first_name, :placeholder => "First", :label => false
          .span3= f.input :father_last_name, :placeholder => "Last", :label => false
        .row-fluid
          .span2
            %abbr{:title => :required} *
            %b Mother's name
        .row-fluid  
          .span3= f.input :mother_first_name, :placeholder => "First", :label => false
          .span3= f.input :mother_last_name, :placeholder => "Last", :label => false

    .row-fluid
      %fieldset
        %legend Home address
        .row-fluid
          .span9
            = f.input :address_line_1, :placeholder => "Street address", :label => false, :input_html => {:class => 'input-block-level'}
        .row-fluid
          = f.input :address_line_2, :placeholder => "Address Line 2", :label => false, :input_html => {:class => 'span9'}
        .row-fluid
          .span3= f.input :city, :placeholder => 'City', :label => false
          .span3= f.input :state, :collection => us_states, :selected => 'HI', :label => false
          .span3= f.input :zip_code, :placeholder => "Zip code", :label => false

    .row-fluid
      %fieldset
        %legend Contact Information
        .row-fluid
          .span3= f.input :home_phone, :placeholder => 'Home phone', :label => false, :input_html => {:class => 'input-block-level'}
          .span6= f.input :email_address, :placeholder => 'Email address', :label => false, :input_html => {:class => 'input-block-level'}
        .row-fluid
          .span3= f.input :father_cell_phone, :placeholder => "Father's cell", :label => false, :input_html => {:class => 'input-block-level'}
          .span3= f.input :father_work_phone, :placeholder => "Father's work", :label => false, :input_html => {:class => 'input-block-level'}
        .row-fluid
          .span3= f.input :mother_cell_phone, :placeholder => "Mother's cell", :label => false, :input_html => {:class => 'input-block-level'}
          .span3= f.input :mother_work_phone, :placeholder => "Mother's work", :label => false, :input_html => {:class => 'input-block-level'}

    .row-fluid
      %fieldset
        %legend Player's Information
        .row-fluid
          .span3
            = f.input :grade, :collection => grades
          .span6 
            = f.input :school, :input_html => {:class => 'input-block-level'}

        .row-fluid
          .span9
            = f.input :birth_date, :as => :date, :start_year => Date.today.year - 13,  :end_year => Date.today.year, :order => [:month, :day, :year], :use_short_month => true, :prompt => true, :input_html => {:class => 'input-small'}

        .row-fluid
          .span3
            = f.input :age
          .span3
            = f.input :gender, :collection => genders
          .span3
            = f.input :shirt_size, :collection => shirt_sizes

        .row-fluid
          .span3
            = f.input :has_medical_insurance, :as => :select
          .span6
            = f.input :medical_insurance_name, :input_html => {:class => 'input-block-level'}, :hint => "<em class='text-warning'>If your child does not have medical insurance s/he will not be placed on a team</em>"

    .row-fluid
      %fieldset
        %legend
          Practice day request 
          %em (optional)
        %p.text-warning Please note if you place specific days for practice and we cannot accommodate MAC will NOT place child on a team. Therefore requesting days should only be for those who absolutely cannot practice on certain days.
      = f.input :practice_days, :collection => practice_days, :multiple => true, :as => :check_boxes, :label => false, :item_wrapper_class => 'inline'
    .row-fluid
      %fieldset
        %legend Volunteering
        %p MAC activities are run by parent's such as yourself. Volunteering to coach a team or being a team parent is encouraged. Without enough head coaches, MAC has to turn away interested players.
        .row-fluid
          .span8
            = f.input :volunteer_type, :collection => volunteer_types, :label => false, :as => :radio_buttons, :item_wrapper_class => 'inline'
        .row-fluid
          %em Head coaches will be contacted ahead of time
    %hr
    .row-fluid
      = render :partial => 'agreement', :locals => {:f => f}
        
    .row-fluid
      = render :partial => 'fees'

    .row-fluid
      = render :partial => 'screening'

    .row-fluid
      = render :partial => 'payment'

  .form-actions
    = f.submit 'Submit Registration'
