%h1 Listing registrations

%p
  Download:
  = link_to "CSV", registrations_path(format: "csv")
  = link_to "Excel", registrations_path(format: "xls")

%table.table.table-striped.table-bordered.table-hover.table-condensed.display{:id => :registrations, :data_source => registrations_url(:format => 'json')}
  %thead
    %tr
      %th Player
      %th Father
      %th Mother
      %th Address
      %th Home phone
      %th Father cell
      %th Mother cell
      %th Email
      %th School
      %th Grade
      %th Birth date
      %th Age
      %th Gender
      %th Shirt size
      %th Has Medical Insurance
      %th Medical insurance name
      %th Practice days
      %th Volunteer type
      %th Parent name for agreement
      %th
      %th
      %th

  %tbody
  - @registrations.each do |registration|
    %tr
      %td= link_to(registration.player_name, registration)
      %td= registration.father_first_name + ' ' + registration.father_last_name
      %td= registration.mother_first_name + ' ' + registration.mother_last_name
      %td
        %address
          = registration.address_line_1
          = registration.address_line_2
          = registration.city + ', ' + registration.state + ' ' + registration.zip_code
      %td= registration.home_phone
      %td= registration.father_cell_phone
      %td= registration.mother_cell_phone
      %td= registration.email_address
      %td= registration.school
      %td= registration.grade
      %td= '**/**/****' if registration.encrypted_birth_date.present?
      %td= registration.age
      %td= registration.gender
      %td= registration.shirt_size
      %td= registration.has_medical_insurance
      %td= registration.medical_insurance_name
      %td= registration.practice_days.join(', ')
      %td= registration.volunteer_type
      %td= registration.parent_name_for_agreement
      %td= link_to 'Show', registration
      %td= link_to 'Edit', edit_registration_path(registration)
      %td= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Registration', new_registration_path
