%h1 Registrations

%p
  Download:
  = link_to "CSV", registrations_path(format: "csv")
  = link_to "Excel", registrations_path(format: "xls")

%table.display{:id => :registrations, :data_source => registrations_path(format: 'json')}
  %thead
    %tr
      %th Player
      %th Email
      %th Grade
      %th Age
      %th Gender
      %th Shirt size
      %th
      %th

  %tbody
  - @registrations.each do |registration|
    %tr
      %td= link_to(registration.player_name, registration)
      %td= registration.email_address
      %td= registration.grade
      %td= registration.age
      %td= registration.gender
      %td= registration.shirt_size
      %td= link_to 'Edit', edit_registration_path(registration)
      %td= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Registration', new_registration_path
