%p#notice= notice
%h3 Registration Information
- show_fields.each do |attribute|
  = render :partial => 'field', :object => @registration, :locals => {:attribute => attribute}

%h3 Technical Information

- show_technical_fields.each do |attribute|
  = render :partial => 'field', :object => @registration, :locals => {:attribute => attribute}

= link_to 'Edit', edit_registration_path(@registration)
\|
= link_to 'Back', registrations_path
