!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "PAL Moanalua"
      %meta{:content => content_for?(:description) ? yield(:description) : "PAL Moanalua", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = javascript_include_tag "jquery.maskedinput-1.3"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .hero-unit
          .row-fluid
            .span2= link_to(image_tag("mac-logo-blue.png"), root_url)
            .span10
              %h1 Police Activities League
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
